@font-face {
  font-family: "iconfont"; /* Project id 2630510 */
  src: url('~@/static/font/iconfont.woff2?t=1625454491695') format('woff2'),
       url('~@/static/font/iconfont.woff?t=1625454491695') format('woff'),
       url('~@/static/font/iconfont.ttf?t=1625454491695') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_clean:before {
  content: "\e64c";
}

.icon-xiangxia:before {
  content: "\e62a";
}

.icon-gouxuan:before {
  content: "\e624";
}

.icon-weigouxuan:before {
  content: "\e629";
}

.icon-zengjia:before {
  content: "\e610";
}

.icon-qiehuan:before {
  content: "\e60c";
}

.icon-erweima:before {
  content: "\e621";
}

.icon-sousuo:before {
  content: "\e628";
}

.icon-yincang:before {
  content: "\e62f";
}

.icon-zhanshi:before {
  content: "\e630";
}

.icon-refresh:before {
  content: "\e676";
}

.icon-tishi:before {
  content: "\e649";
}

.icon-xuanzejiantou:before {
  content: "\e60f";
}

.icon-shanchu:before {
  content: "\e622";
}
